<h1>Printer Page - oauth</h1>

<div id="printlabel">
  This is a place holder only.
</div>
<div id="print_button_container">Print button will be placed here</div>
<br>
<% if @authorize_url then %>
    <div id="authorize">
      <%= link_to 'Authorise connecting your printer', @authorize_url %>
    </div>
<% end %>