// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 1px;
  margin: 0;
}

#myUL li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 1px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li:hover:not(.header) {
  background-color: #aaa;
}

.two-thirds-container {
  display: inline-block;
  padding: 30px;
  width: 75%;
  background-color: #eeeeee;
}

.list-item {
  border: 1px solid #d3d3d3;
  background-color: white;
  border-radius: 5px;
  margin-top: 10px;
}

.list-item-content {
  display: flex;
  align-items: center;
  padding: 15px;
}

.list-item:first-child {
  margin-top: 0;
}

.selection-container {
  display: flex;
  font-size: 14px;
  color: white;
}

.new, .ready, .done {
  padding: 12px;
}

.new {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #2196f3;
  border-right: none;
  color: #2196f3;
}

.ready {
  border: 2px solid #00c853;
  color: #00c853;
}

.done {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #90A4AE;
  border-left: none;
  color: #90A4AE;
}