// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  box-sizing: border-box;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myUL {
  list-style-type: none;
  padding: 1px;
  margin: 0;
}

#myUL li {
  border: 1px solid #ddd;
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6;
  padding: 1px;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li:hover:not(.header) {
  background-color: #aaa;
}

.orders-container {
  display: flex;
  min-height: 100vh;
}

.orders-left {
  width: 25%;
  background-color: #1a237e;
  padding: 30px;
  color: white;
}

.orders-left td {
  font-size: 16px;
}

.orders-right {
  width: 75%;
  background-color: #eeeeee;
  padding: 30px;
}

.two-thirds-container {
  display: inline-block;
  padding: 30px;
  width: 75%;
  background-color: #eeeeee;
  min-height: 100vh;
}

.list-item {
  border-right: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
  background-color: white;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-top: 10px;
}

.list-item-content {
  display: flex;
  align-items: center;
  padding: 15px 15px 15px 25px;
}

.list-item:first-child {
  margin-top: 0;
}

.selection-container {
  display: flex;
  font-size: 14px;
  color: white;
}

.new-radio-button, .ready-radio-button, .done-radio-button {
  padding: 12px;
  cursor: pointer;
}

.new-radio-button {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 2px solid #2196f3;
  border-right: none;
  color: #2196f3;
}

.new .new-radio-button {
  color: #ffffff;
  background-color: #2196f3;
}

.ready-radio-button {
  border: 2px solid #00c853;
  color: #00c853;
}

.ready .ready-radio-button {
  color: #ffffff;
  background-color: #00c853;
}

.done .ready-radio-button {
  border-right: 2px solid #90A4AE;
}

.new .ready-radio-button {
  border-left: 2px solid #2196f3;
}

.done-radio-button {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border: 2px solid #90A4AE;
  border-left: none;
  color: #90A4AE;
}

.done .done-radio-button {
  color: #ffffff;
  background-color: #90A4AE;
}

.list-item.done {
  border-left: 5px solid #90A4AE;
}

.list-item.ready {
  border-left: 5px solid #00c853;
}

.list-item.new {
  border-left: 5px solid #2196f3;
}

#statusSelect {
  margin-bottom: 1em;
}

#statusSelect * {
  display: inline-block;
}

#statusSelect  b {
  color: black;
}

#statusSelect  label {
  margin-left: 20px;
}

//#statusSelect label:before {
//  content: "...";
//  margin-right: 0.5em;
//  width: 100px;
//  height: 20px;
//  border: 1px solid #d3d3d3;
//}

#statusSelect input {
  display: none;
}

#statusSelect input:checked#new + label {
  cursor: pointer;
  color: #2196f3;
  font-weight: bold;
}
#statusSelect input#new + label {
  cursor: pointer;
  color: gray;
}

#statusSelect input:checked#ready + label {
  cursor: pointer;
  color: #00c853;
  font-weight: bold;
}
#statusSelect input#ready + label {
  cursor: pointer;
  color: gray;
}


#statusSelect input:checked#done + label {
  cursor: pointer;
  color:  black;
  font-weight: bold;
//  color:  #90A4AE;
}
#statusSelect input#done + label {
  cursor: pointer;
  color: gray;
}

//#statusSelect input:checked done + label {
//  cursor:pointer;
//  color: black;
//  font-weight: bold;
//}