html {
  font-size: 16px;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h2 {
    font-family: 'Oswald', sans-serif;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.mt-2 {
    margin-top: 15px;
}

.ml-3 {
  margin-left: 20px;
}

.ml-2 {
  margin-left: 10px;
}

.ml-1 {
  margin-left: 5px;
}

.mr-3 {
  margin-right: 20px;
}

.mr-1 {
  margin-right: 5px;
}

.flex {
  display: flex;
}

.flex span, .flex i {
    line-height: 1.5;
    font-size: 18px;
}

.floating-button {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 20px;
  background-color: #000051;
}

.floating-button-right {
    right: 20px;
}

.floating-button-right-two {
  right: 123px;
}

.floating-button-left {
  left: 20px;
}

.floating-button-left-two {
  left: 124px;
}

.floating-button a, .floating-button a:visited, .floating-button i {
  color: #ffffff;
}

.b-orange {
  background-color: #ef6c00;
}

.orange {
  color: #ef6c00;
}

.w-50 {
  width: 50%;
}

.ml-auto {
  margin-left: auto;
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px;
  margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding-bottom: 7px;
  padding-left: 5px;
  padding-right: 5px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
  margin: 0;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
