// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//* {
//  box-sizing: border-box;
//}

.floating-box {
    display: inline-block;
    width: 45%;
    vertical-align: top;
}
.floating-box2 {
    display: inline-block;
    width: 95%;
    border: 3px solid #73AD21;  
    vertical-align: top;
}
.floating-box-button {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    background: white;
    margin: 5px;
}

.afterdisplaybox {
    border: 3px solid red; 
}

.displaybox {
  background-color: #66eeee;
}

.selectbox {
}



.button {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.button-orange {
  background-color: #ef6c00;
}

#drinkInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 0px;
}
.colourgrey {
    color: grey;
}

#setbackgroundimage {
  background-image: url(/assets/IMG_2284.JPG);
  background-repeat:no-repeat;
  background-size:100%;
  z-index: 1;
}

.hideMe {
     background-color: yellow;
     display: none;
}


#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  background-color: #f6f6f6;
  padding: 1px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
#myDrinksUL {
  margin: 3px 10px 3px 10px;
}
#myPeopleUL {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: auto;
  border-right: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  background-color: white;

}

#myPeopleUL li {
  font-size: 16px;
  padding: 15px;
  border-top: 1px solid #e0e0e0;
}

#myPeopleUL li:first-child {
  border-top: none;
}

.counterbuttonnew {
  
}

.counterbuttonready {

}
.counterbuttondone {

}

.counterbutton:hover {
  background-color: #4CAF50; /* Green */
  color: black;
}

.counterstatusnew {
  background-color: Coral;
  border: 2px solid Cyan;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;  
}

.counterstatusready {
  background-color: LightGreen;
  border: 2px solid Cyan;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}

.counterstatusdone {
  background-color: snow;
  border: 2px solid black;
  color: black;
  padding: 8px;
  text-align: center;
  text-decoration: none;
  font-size: 32px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}

.drinkbutton, .optionsbutton {
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  padding: 8px;
  border: 2px solid #ef6c00;
  background-color: white;
  color: #ef6c00;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

#buttonAddPerson {
  color: white;
  background-color: #ef6c00;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
  padding: 8px;
  text-align: center;
  
}

.hideme {
  //visibility: hidden;
  display: none !important;
}

.hidemegrp {
  display: none !important;
  //visibility: hidden;
}

.showme {
  visibility: visible;
  //display: block;
}

span.myrowleft {
  display: inline-block;
  float: left;
}

span.myrowright {
  display: inline-block;
  float: right;
}

.drinkbutton, .optionsbutton {
  padding: 10px;
  font-size: 14px;
  width: 100%;
  margin-top: 5px;
}

.drinkbutton:first-child {
  margin-left: 0px;
}

.optionsbutton {
  
}
.grpdrinkbutton {
  background-color: Red;
  border: 2px solid black;
  color: black;
  padding: 12px 12px;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 95%;
  display: block;
}

.grpoptionsgroups {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  padding: 15px 30px;
}

.grpoptionsbutton {
  display: block;
  margin-bottom: 20px;
}

.grpoptionsbutton:first-child {
  margin-top: 0;
}

.grpdrinkarea {
  display: table-row;
  vertical-align: top;
}

.grpdrinkarea:after {
  clear:both;
}

.selected {
  background-color: #ef6c00;
  color: white;
}

.personselected {
  background-color: #eeeeee;
}

#scrollme {
  position: absolute;
  //left: 100px;
  top: 80%;
  overflow: hidden;
  text-overflow: clip;
  //width: 200px;
  line-height: 36px;
  white-space: nowrap;
  border: 1px solid #000000;
  font-size: 24px;
  color: black;
  background-color: White;
}

.header {
  color: white;
  font-weight: normal;
  font-size: 16px;
}

.dark-header {
  background-color: #000051;
  padding:  5px 15px;
}

.light-header i {
  font-size: 18px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
}

.left-container {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.right-container {
  width: 50%;
}

.far-right-container {
  width: 25%;
  background-color: #1a237e;
  padding: 30px;
  color: white;
  font-size: 16px;
}

@media(max-width: 767px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  
  .left-container, .right-container, .far-right-container {
    width: 100%;
  }
  
  .left-container {
    height: 200px;
    display: block;
  }
  
  #myPeopleUL {
    height: 140px;
  }
  
  .right-container {
    padding-bottom: 200px;
  }
  
  .far-right-container {
    position: fixed;
    bottom: 0;
  }
}

.search-container {
  background-color: #1a237e;
  padding: 10px;
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.clear-button {
  color: gray;
  position: absolute;
  padding: 12px;
  right: 0;
}

.clear-button:hover {
  color: black;
}

.search-bar {
  padding: 10px;
  width: 82%;
  border: 1px solid #000051;
  font-size: 16px;
}

.search-icon {
  width: 18%;
  text-align: center;
  padding: 10px;
  border: 1px solid #7b7b7b;
  border-right: none;
  background-color: white;
}

.drinks-column {
  width: 50%;
  height: 100%;
  padding: 15px 30px;
  display: inline-block;
  vertical-align: top;
}

h2 {
  margin: 0 0 10px 0;
}

.submit-button {
  padding: 15px;
  font-size: 16px;
}

#myDrinkName {
  margin-left: 10px;
}

#orderstablet {
  width: 100%;
}