// Place all the styles related to the Shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//* {
//  box-sizing: border-box;
//}

.floating-box {
    display: inline-block;
    width: 45%;
    border: 3px solid #73AD21;  
    vertical-align: top;
}
.floating-box2 {
    display: inline-block;
    width: 95%;
    border: 3px solid #73AD21;  
    vertical-align: top;
}
.floating-box-button {
    display: inline-block;
    width: 90%;
    vertical-align: top;
    background: white;
    margin: 5px;
}

.afterdisplaybox {
    border: 3px solid red; 
}

.displaybox {
  background-color: #66eeee;
}

.selectbox {
  background-color: #66eeee;
}

.button {
    background-color: green;
    border: 3px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    width: 100%;
}

#personInput, #drinkInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 0px;
}
.colourgrey {
    color: grey;
}
#setbackgroundimage {
  background-image: url(/assets/IMG_2284.JPG);
  background-repeat:no-repeat;
  background-size:100%,100%;
}

.hideMe {
     background-color: yellow;
     display: none;
}


#myUL {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  background-color: #f6f6f6;
  padding: 1px;
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: block;
}

#myUL li a:hover:not(.header) {
  background-color: #eee;
}
#myDrinksUL {
  margin: 3px 10px 3px 10px;
}
#myPeopleUL {
  margin: 3px 10px 3px 10px;
  overflow: auto;
  max-height: 300px;
}

.counterbuttonnew {
  background-color: LightCyan;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}
.counterbuttonready {
  background-color: LightGreen;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}
.counterbuttondone {
  background-color: Snow;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}

.counterbutton:hover {
  background-color: #4CAF50; /* Green */
  color: black;
}

.counterstatusnew {
  background-color: LightCyan;
  border: 2px solid Cyan;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}

.counterstatusready {
  background-color: LightGreen;
  border: 2px solid Cyan;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}

.counterstatusdone {
  background-color: snow;
  border: 2px solid black;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}

#buttonAddPerson {
  background-color: Snow;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
}

.hideme {
  //visibility: hidden;
  display: none;
}

.hidemegrp {
  visibility: hidden;
  //display: none;
}

.showme {
  visibility: visible;
  //display: block;
}

span.myrowleft {
  display: inline-block;
  float: left;
}

span.myrowright {
  display: inline-block;
  float: right;
}

.drinkbutton {
  background-color: LightCyan;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  //display: block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 95%;
}
.optionsbutton {
  background-color: white;
  border: 2px solid black;
  border-radius: 12px;
  color: black;
  padding: 2px 2px;
  text-align: center;
  text-decoration: none;
  //display: block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 95%;
}
.grpdrinkbutton {
  background-color: Red;
  border: 2px solid black;
  color: black;
  padding: 12px 12px;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 95%;
  float:left;
  display: table-cell;
}

.grpoptionsgroups {
  display:table-cell;
  width: 45%;
  vertical-align: top;
}

.grpoptionsbutton {
  background-color: Red;
  border: 2px solid black;
  color: black;
  padding: 12px 12px;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 95%;
  float: right;
  display:table-cell;
}
.grpdrinkarea {
  display: table-row;
  vertical-align: top;
}

.grpdrinkarea:after {
  clear:both;
}

.selected {
  background-color: green;
}
